In this video, we will cover
- pyspark
- reading the dataset
- checking the datatypes of the column (schema)
- selecting columns and indexing
- check describe similar to pandas
- adding columns
- dropping columns
- renaming columns

In [1]:
from pyspark.sql import SparkSession

In [3]:
# one master node if u r running local, 之后可以试着连接一下Azure
spark = SparkSession.builder.appName('Dataframe').getOrCreate()
spark

In [9]:
## read the dataset
df_pyspark = spark.read.option('header','true').csv('customer_contact_info.csv',inferSchema=True)
df_pyspark.show()

+--------------+-----------+--------+
|Account_number|Postal_Code|Province|
+--------------+-----------+--------+
|        283285|     M2N2A2|      ON|
|        973525|     V5A4A6|      BC|
|        736823|     B6N8M3|      NS|
|        160186|     T1K4X5|      AB|
|        384623|     L6A3C5|      ON|
|        164623|     A1A2B2|      NL|
|        864302|     K1A4V5|      ON|
|        321247|     V1A9J2|      BC|
|        459804|     T6W4B4|      AB|
+--------------+-----------+--------+

In [10]:
### Check the schema (和df.info一样)
df_pyspark.printSchema()

root
 |-- Account_number: integer (nullable = true)
 |-- Postal_Code: string (nullable = true)
 |-- Province: string (nullable = true)

In [14]:
df_pyspark.head(3)

[Row(Account_number=283285, Postal_Code='M2N2A2', Province='ON'),
 Row(Account_number=973525, Postal_Code='V5A4A6', Province='BC'),
 Row(Account_number=736823, Postal_Code='B6N8M3', Province='NS')]

In [15]:
df_pyspark.show()

+--------------+-----------+--------+
|Account_number|Postal_Code|Province|
+--------------+-----------+--------+
|        283285|     M2N2A2|      ON|
|        973525|     V5A4A6|      BC|
|        736823|     B6N8M3|      NS|
|        160186|     T1K4X5|      AB|
|        384623|     L6A3C5|      ON|
|        164623|     A1A2B2|      NL|
|        864302|     K1A4V5|      ON|
|        321247|     V1A9J2|      BC|
|        459804|     T6W4B4|      AB|
+--------------+-----------+--------+

In [17]:
# pick up one oclumn
df_pyspark.select('Account_number')

DataFrame[Account_number: int]

In [19]:
# pick up one oclumn
df_pyspark.select(['Account_number','Province']).show()

+--------------+--------+
|Account_number|Province|
+--------------+--------+
|        283285|      ON|
|        973525|      BC|
|        736823|      NS|
|        160186|      AB|
|        384623|      ON|
|        164623|      NL|
|        864302|      ON|
|        321247|      BC|
|        459804|      AB|
+--------------+--------+

注意和pandas的区别 df['Province'] in pandas

In [20]:
df_pyspark.describe().show()

+-------+------------------+-----------+--------+
|summary|    Account_number|Postal_Code|Province|
+-------+------------------+-----------+--------+
|  count|                 9|          9|       9|
|   mean|483157.55555555556|       null|    null|
| stddev|302545.63255983015|       null|    null|
|    min|            160186|     A1A2B2|      AB|
|    max|            973525|     V5A4A6|      ON|
+-------+------------------+-----------+--------+

In [26]:
## Addomg columns in dataframe
df_2 = df_pyspark.withColumn('Balance',df_pyspark['Account_number']/100)
df_2.show()

+--------------+-----------+--------+-------+
|Account_number|Postal_Code|Province|Balance|
+--------------+-----------+--------+-------+
|        283285|     M2N2A2|      ON|2832.85|
|        973525|     V5A4A6|      BC|9735.25|
|        736823|     B6N8M3|      NS|7368.23|
|        160186|     T1K4X5|      AB|1601.86|
|        384623|     L6A3C5|      ON|3846.23|
|        164623|     A1A2B2|      NL|1646.23|
|        864302|     K1A4V5|      ON|8643.02|
|        321247|     V1A9J2|      BC|3212.47|
|        459804|     T6W4B4|      AB|4598.04|
+--------------+-----------+--------+-------+

In [33]:
## drop the column
df_3 = df_2.drop('Balance')

In [34]:
df_3.show()

+--------------+-----------+--------+
|Account_number|Postal_Code|Province|
+--------------+-----------+--------+
|        283285|     M2N2A2|      ON|
|        973525|     V5A4A6|      BC|
|        736823|     B6N8M3|      NS|
|        160186|     T1K4X5|      AB|
|        384623|     L6A3C5|      ON|
|        164623|     A1A2B2|      NL|
|        864302|     K1A4V5|      ON|
|        321247|     V1A9J2|      BC|
|        459804|     T6W4B4|      AB|
+--------------+-----------+--------+

In [ ]:
# renaming columns