# Pyspark Dataframes
- filter operation
- &,|,==
- ~

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()
spark

In [4]:
df_pyspark = spark.read.csv('tut4-filter.csv',header=True,inferSchema=True)

### Filter operations

In [5]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Krish| 31|        10| 30000|
|   Sam| 30|         8| 25000|
| Sunny| 29|         4| 20000|
|  Paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
| Shama| 23|         2| 18000|
+------+---+----------+------+

In [6]:
df_pyspark.filter('Salary<=20000').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Sunny| 29|         4| 20000|
|  Paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
| Shama| 23|         2| 18000|
+------+---+----------+------+

In [7]:
# logical order: first filter then select
df_pyspark.filter('Salary<=20000').select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
| Sunny| 29|
|  Paul| 24|
|Harsha| 21|
| Shama| 23|
+------+---+

In [14]:
# multiple conditions
df_pyspark.filter((df_pyspark['Salary']<=20000)
                  & (df_pyspark['Age']<=25)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
| Shama| 23|         2| 18000|
+------+---+----------+------+